<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'management-index' %}"><i class="fa fa-dashboard fa-fw"></i> 主页</a>
            </li>
            <li>
                <a href="{% url 'management-user-list' %}"><i class="fa fa-user fa-fw"></i> 用户</a>
            </li>
            <li>
                <a href="{% url 'management-invitecode' %}"><i class="fa fa-envelope fa-fw"></i> 邀请码</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>